<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.mapper.BoardMapper">

<!--  게시판 리스트 출력2 -->
<select id="getListWithPaging2" resultType="com.test.domain.BoardVO">
<![CDATA[

select /*+ INDEX_DESC (tb1_board pk_board)*/ * from (
select   /*+ INDEX_DESC (tb1_board pk_board)*/ bno,title,content,writer,regdate,updateDate,replyCnt,rownum rn 
from tb1_board where 
]]>
		<if test="type== 'C'.toString()">
			(content like '%'||#{keyword}||'%') and
		</if>
		<if test="type=='W'.toString()">
			(writer like '%'||#{keyword}||'%') and
		</if>
		<if test="type=='CW'.toString()">
			(content like '%'||#{keyword}||'%' or writer like '%'||#{keyword}||'%') and
		</if>

<![CDATA[
 rownum < (#{pageNum} * #{amount})) 
where rn >(#{pageNum} -1) *#{amount} 

]]>


	</select>

<!--  게시판 리스트 출력-->
<select id="getListWithPaging" resultType="com.test.domain.BoardVO">

<![CDATA[

select /*+ INDEX_DESC (tb1_board pk_board)*/ * from (
select   /*+ INDEX_DESC (tb1_board pk_board)*/ bno,title,userid,content,writer,regdate,updateDate,replyCnt,rownum rn 
from tb1_board  where
]]>

		<!-- 검색조건이 없다면 and라는 키워드는 들어갈 필요가 없다 필요한 키워드를 붙이거나 뺴는 상황에 사용하는 where trim 
			set -->
		<!-- map으로 받았을경우 foreach 와 choose -->

		<trim prefix=" ( " suffix=") and">
			<if test="type== 'C'.toString()">
				content like '%'||#{keyword}||'%'
			</if>
			<if test="type=='W'.toString()">
				writer like '%'||#{keyword}||'%'
			</if>
			<if test="type=='TC'.toString()">
				content like '%'||#{keyword}||'%' or title like '%'||#{keyword}||'%'
			</if>
			<if test="type=='T'.toString()">
				title like '%'||#{keyword}||'%'
			</if>
		</trim>



<![CDATA[
 rownum < (#{pageNum} * #{amount})) 
where rn >(#{pageNum} -1) *#{amount}  

]]>


	</select>

<select id="totalCount" resultType="int">

select count(*) from tb1_board where

<include refid="Criteria"></include>

bno >0


</select>


<select id="get" resultType="com.test.domain.BoardVO">

select bno,content,title from tb1_board where bno = #{bno}
</select>





	<sql id="Criteria">
			<trim prefix=" ( " suffix=") and">
			<if test="type== 'C'.toString()">
				content like '%'||#{keyword}||'%'
			</if>
			<if test="type=='W'.toString()">
				writer like '%'||#{keyword}||'%'
			</if>
			<if test="type=='TC'.toString()">
				content like '%'||#{keyword}||'%' or title like '%'||#{keyword}||'%'
			</if>
			<if test="type=='T'.toString()">
				title like '%'||#{keyword}||'%'
			</if>
		</trim>
	
	
	</sql>


<!--  게시물 추가  -->
<insert id="newBoard" >

<selectKey keyProperty="bno" order="BEFORE" resultType="long">
select max(bno)+1 from tb1_board
</selectKey>

<![CDATA[

insert into tb1_board (bno,title,content,writer,userid) values 

(#{bno},#{title},#{content},#{writer},#{userid})

]]>


</insert>

<!--  삭제 -->
<delete id="remove">

delete from tb1_board where bno=#{bno}

</delete>


<!--수정 -->
<update id="update">

update tb1_board set content=#{content} ,title=#{title} where bno=#{bno}


</update>






<!-- include 처리시   <include refid="Criteria">-->
	<sql id="Criteria2">

		<trim prefix="(" suffix=") AND" prefixOverrides="or">
			<foreach item="val" index="key" collection="map">   <!--  -->
				<trim prefix="or">
					<choose>
						<when test="key == 'C'.toString()">
							content like '%'||#{val}||'%'
						</when>
						<when test="key == 'T'.toString()">
							title like '%'||#{val}||'%'
						</when>
						<when test="key == 'W'.toString()">
							writer like '%'||#{val}||'%'
						</when>
						<when test="key == 'TC'.toString()">
							content like '%'||#{val}||'%' or title like '%'||#{val}||'%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>

	</sql>

</mapper>