<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.mapper.MemberMapper">


<resultMap type="com.test.domain.MemberVO" id="memberMap">
<id property="userid"  column="userid"/>
<result column="userid" property="userid"/>
<result column="userpw" property="userpw"/>
<result column="email" property="email"/>
<result column="userName" property="userName"/>
<result column="regDate" property="regDate"/>
<result column="updateDate" property="updateDate"/>

<collection property="authList" resultMap="authMap">
</collection>

</resultMap>




<resultMap type="com.test.domain.AuthVO" id="authMap">
<result column="auth" property="auth"/>
<result column="userid" property="userid"/>
</resultMap>


<select id="read" resultMap="memberMap">

select 
	mem.userid,userpw,username,enabled,regdate,updatedate,auth 
from
	tbl_member mem LEFT OUTER JOIN tbl_member_auth auth on mem.userid = auth.userid 
where mem.userid=#{userid}

</select>


</mapper>